* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: 2.8rem;
    font-weight: 800;
    letter-spacing: 3px;
}
h2{
    font-size: 1.75rem;
    font-weight: 700;
    color:#9F522B;
    margin-top: 60px;
}
p{
    font-weight: 400;
    font-size: 1rem;
    color: black;
}
.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
    outline: none;
    box-shadow: none;
}

.nav-link, .dropdown-item{
    color: #666777;
    font-weight: 500;
}

.nav-link:hover,
.nav-link.active ,.dropdown-item:hover ,.dropdown-item.active{
    color: #9F522B;
}

.nav-link::before,.dropdown-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #9F522B;
    transition: 0.3s ease-in-out;
    transform: translateX(-50%);
    visibility: hidden;
}

.nav-link:hover::before,
.nav-link.active::before,.dropdown-item:hover::before,.dropdown-item.active::before {
    width: 100%;
    visibility: visible;
}
.dropdown-menu.show {
    background-color: #D8CEC8; /* Replace with your desired color */
}

.signup-button,
.login-button {
    background-color: #9F522B;
    color: white;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.signup-button:hover,
.login-button:hover {
    background-color: #7D3A1D;
}

.signup-button {
    margin-right: 10px;
}

.nav-link, .dropdown-item {
    color: black;
    font-weight: 500;
    position: relative;
    text-align: center; /* Add text-align center */
}
.navbar{
    background-color: #D8CEC8;
    padding: 0.5rem;
    min-height: 80px;
}
.c-item{
    height: 600px;
    padding-top: 100px;
}
.c-img{
    height: 100%;
    object-fit: cover;
}

 @media (min-width: 770px) {
    .carousel-caption {
        display: block; 
        position: absolute;
        transform: translateY(-50%);
        top: 48%;
        text-align: center;
        font-size: 3rem;
    }
} 
.headingFirstSlide {
    color: black;
    font-weight: bolder;
    text-align: center; /* Center align the text */
    margin-top: 10px;  
    width: 100%;  
}
.headingFirstSlide span{
    color: #9F522B;
}
.carousel-caption {
    position:absolute;
    align-items: center;
    top: 25%;
    left: 50%;
    right: 0;
    text-align: center;
    transform: translateX(-50%);
    max-width: 80%;
} 

.carousel-caption .headingSecondSlide {
    color: #9F522B;
    font-weight: 500;
    font-size: 3rem;
     /* Hide overflow text */
    text-overflow: ellipsis; /* Display ellipsis for overflow */
    max-width: 100%; /* Limit the width */
    transform: translateX(10%);
    margin: 100px auto;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange content in a column */
    align-items: flex-end;
    text-align: right;
}
.carousel-caption .headingSecondSlide span {
    display: block; /* Display span as block */
}
.carousel-caption .carouselPara, #welcome-message {
    color: black;
    font-size: 1rem;
    font-weight: 400;
}
.btn-primary {
    background-color: #9F522B;
    color: white;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s background-color;
    outline: none;
    cursor: pointer;
    border-color: #9F522B;
}
.btn-primary:hover,.btb-primary:focus {
    border-color: #9F522B;
    background-color: #7D3A1D;
}
.about-section {
    height: 500px;
    margin: 50px auto;
    margin-top: 100px;
    padding: 100px 0;
    width: 100%;  
    position: relative;
    background-image: url('/assets/images/AboutBg.png');
    background-size: cover;
    background-position: center;
      
}
.about-section .container h1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px; 
    color:#9F522B
}
.about-section .container p{
    padding-top: 10px;
}
.mission-section {
    height: 250px;
    margin: 0 auto;
    padding:0 5px;
    width: 100%;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}
 .container-fluid{
    margin-top: 20px;  
    width: 100%;
    background-color: #f0f0f0; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 1200px; 
    margin-bottom: 30px;
    padding: 20px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container-fluid h2{
    text-align: center;
    margin: 40px auto;
    color: rgb(63, 59, 59);
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.values-section .card{
   border-radius: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
   padding: 10px 20px; 
   max-height: 350px; 
   margin-top: 5px;
   margin-bottom: 30px;
  
}
.values-section .card img{
    width: 70px;
    height: 70px;
    padding-top: 7px;
    object-fit: cover;
    border-radius: 50%;
}
.card-body h5{
    text-align: center;
    color: rgb(63, 59, 59);
    padding-bottom: 15px;
    padding: 15px auto;
    margin: 10px auto;

}
.team-section .card{
    
    max-height: 500px;
    max-width: 600px;
    min-width: 400px;
    padding: 10px 20px;
    border-radius: 40px;
    overflow: hidden;
}

.team-section .card img{
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 200px;
    align-items: center;
    margin: 20px auto;
}
.cta-section .container-fluid h2{
color:#9F522B;
text-align: start;
}
  .card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.08);
    cursor: pointer;
} 
html {
    scroll-behavior: smooth;
} 

   

  
  
    